
body{
    background: linear-gradient(270deg, #020024 0%, #100d64 35% ,#efeef5 100%);

}

.logo{
    width: 940px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 10px 0 10px 0;
}

main{
    width: 940px;
    margin: 0 auto;
    display: flex;

}

.pantalla1-botones{
    display: inline-block;
    border-style: double;
    border-width: 11px;
    border-color: navy;
    box-sizing: border-box;
    background: rgba(243, 245, 252, 1);
    position: relative;
    right: 60px;
    box-shadow: inset 0 0 70px navy;

}

.pantalla1{
    border-color: rgba(243, 245, 252, 1);
    outline: none;
    background: rgba(243, 245, 252, 1);
    font-size: 32px;
    font-family: ´Inter´;
    padding-left: 20px;
}
::placeholder{ 

    font-family: 'Inter' ;
    font-size: normal;
    font-size: 32px;
    color: #b7bfc9;
}

.minusculas{
    font-size: 12px;
    padding-left: 50px;
    padding-bottom: 15px;
    margin-left: 0px;
    background: rgba(243, 245, 252, 1);
    position: relative;
    bottom: 37px;
}

.encriptar{
    width: 210px;
    padding: 8px;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-left: 40px;
    background: rgba(243, 245, 252, 1);
    border-width: 1px;

}
.encriptar p{
     font-family: ´Inter´   
        
}

.encriptar:hover{
    background: #deebeb;
    cursor: pointer;
}

.desencriptar{
    width: 210px;
    padding: 8px;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-left: 20px;
    background: #FFFFFF;
    border-width: 1px;
    background: rgba(243, 245, 252, 1);

}

.desencriptar p{
    font-family: ´Inter´;
}

.desencriptar:hover{
    background: #deebeb;
    cursor: pointer;
}


.pantalla2-copiar{
    display: inline-block;
    border-style: double;
    border-color: navy;
    border-width: 11px;
    box-sizing: border-box;
    background: rgba(243, 245, 252, 1);
    margin-left: 120px;
    padding-bottom: 30px;
    box-shadow: inset 0 0 70px navy;
    position: relative;
    right: 140px;
    
}
.pantalla2{
    outline: none;
    border-style: none;
    font-family: 'Inter' ;
    font-size: 32px;
    color: rgb(2,0,36);
    padding-right: 13px;
    padding-left: 20px;
    background: rgba(243, 245, 252, 1);
    background-image: url("imagen/Muñeco.png");

        
}


.copiar{
    width: 210px;
    padding: 8px;
    border-radius: 15px;
    margin-top: 25px;
    margin-left: 75px;
    border-width: 1px;
    background: rgba(243, 245, 252, 1);

    
}   
.copiar p{
    font-family: ´Inter´ 
    
    }

 .copiar:hover{
    background: #deebeb;
    cursor: pointer;
 }   

